{% extends 'base.html' %} {% block content %}


<main class="page-wrapper">
    <div class="container py-4 py-lg-5 my-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <h2 class="h3 mb-4">Reset Password</h2>
                <div class="card py-2 mt-4">
                    {% include 'includes/alerts.html' %}
                    <form class="card-body needs-validation" action="{% url 'resetPassword' %}" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="recover-email">New password</label>
                            <input class="form-control" type="email" id="recover-email" name="password" required>
                            <div class="invalid-feedback">Please provide valid password.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="recover-email">Confirm password</label>
                            <input class="form-control" type="email" id="recover-email" name="confirm_password" required>
                            <div class="invalid-feedback">Please provide valid password.</div>
                        </div>
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </form>
                </div>
                <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
            </div>
        </div>
    </div>
</main>

{% endblock %}