<!-- Footer-->
<footer class="footer bg-dark pt-5">
    <div class="container pt-2 pb-3">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-4">
                <div class="text-nowrap mb-3">
                    <a class="d-inline-block align-middle mt-n2 me-2" href="#"><img class="d-block" src="https://cartzilla.createx.studio/img/footer-logo-light.png" width="117" alt="Cartzilla"></a><span class="d-inline-block align-middle h5 fw-light text-white mb-0">Marketplace</span></div>
                <p class="fs-sm text-white opacity-70 pb-1">High quality items created by our global community.</p>
            </div>
            <div class="col-md-6 d-md-block text-center text-md-start mb-4">
                <div class="widget widget-links widget-light pb-2">
                    <h3 class="widget-title text-light">Follow us</h3>
                    <div class="widget mt-4 text-md-nowrap text-center text-md-start">
                        <a class="btn-social bs-light bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a>
                        <a class="btn-social bs-light bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a>
                        <a class="btn-social bs-light bs-dribbble me-2 mb-2" href="#"><i class="ci-instagram"></i></a>
                        <a class="btn-social bs-light bs-behance me-2 mb-2" href="#"><i class="ci-mail"></i></a>
                        <a class="btn-social bs-light bs-pinterest me-2 mb-2" href="#"><i class="ci-discord"></i></a>
                        <a class="btn-social bs-light bs-dribbble me-2 mb-2" href="#"><i class="ci-youtube"></i></a>
                        <a class="btn-social bs-light bs-twitter me-2 mb-2" href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second row-->
    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="d-md-flex justify-content-between">
                <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© 2022 All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
                <div class="widget widget-links widget-light pb-4">
                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Help Center</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Affiliates</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Support</a></li>
                        <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>