<!-- Navbar -->
<header class="bg-accent navbar-sticky">
	<div class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand d-none d-sm-block me-4 order-lg-1" href="{% url 'home' %}"><img src="https://cartzilla.createx.studio/img/logo-light.png" width="142" alt="Cartzilla"></a>
			<a class="navbar-brand d-sm-none me-2 order-lg-1" href="{% url 'home' %}" style="min-width: 4.625rem;"><img src="https://cartzilla.createx.studio/img/logo-icon-light.png" width="74" alt="Cartzilla"></a>
			<div class="navbar-toolbar d-flex align-items-center order-lg-3">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
                <a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
					<div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
                </a>
                {% if user.id is None %}
                <div class="navbar-tool dropdown ms-2">
                    <a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'login' %}"><i class="navbar-tool-icon ci-user"></i></a>
                    <a class="navbar-tool-text ms-n1" href="{% url 'login' %}"><small>Welcome Guest!</small>My Account</a>
                    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <div style="min-width: 10rem; max-width: 14rem;">
                            <h6 class="dropdown-header">Account</h6>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}"><i class="ci-sign-in opacity-60 me-2"></i>Sign In</a>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'register' %}"><i class="ci-add-user opacity-60 me-2"></i>Register</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="navbar-tool dropdown ms-2">
                    <a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'dashboard' %}"><img src="https://cartzilla.createx.studio/img/marketplace/account/avatar-sm.png" width="30" alt="{{user.first_name}}"></a>
                    <a class="navbar-tool-text ms-n1" href="{% url 'dashboard' %}"><small>Welcome {{user.first_name}}!</small>My Account</a>
                    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <div style="min-width: 10rem; max-width: 14rem;">
                            <h6 class="dropdown-header">Account</h6><a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard' %}"><i class="ci-settings opacity-60 me-2"></i>Settings</a>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard' %}"><i class="ci-basket opacity-60 me-2"></i>Dashboard</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign Out</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="navbar-tool dropdown ms-3">
                    <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="{% url 'cart' %}">
                        <span class="navbar-tool-label">{{cart_count}}</span><i class="navbar-tool-icon ci-cart"></i>
                    </a>
				</div>
			</div>
			<div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
				<!-- Search-->
                <form action="{% url 'search' %}" class="search" method='GET'>
                    <div class="input-group d-lg-none my-3">
                        <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search for products" name="keyword">
                    </div>
                </form>
				<!-- Primary menu-->
				<ul class="navbar-nav navbar-mega-nav">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-view-grid me-2"></i>Category </a>
						<ul class="dropdown-menu dropdown-menu-dark">
                            {% for category in links %}
							<li class="dropdown position-static mb-0">
                                <a class="dropdown-item py-2 border-bottom border-light" href="{{ category.get_absolute_url }}">
                                    <span class="d-block">{{ category.category_name }}</span><small class="d-block opacity-60">Lorem ipsum</small>
                                </a>
								<div class="dropdown-menu dropdown-menu-dark h-100 animation-none mt-0 p-3">
                                    <a class="d-block" href="{{ category.get_absolute_url }}" style="width: 250px;"><img src="{{ category.category_image.url }}" alt="{{ category.category_name }}"></a>
                                </div>
							</li>
                            {% endfor %}
						</ul>
					</li>
                    <li class="nav-item dropdown active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
					<li class="nav-item dropdown"><a class="nav-link" href="{% url 'store' %}">Shop</a></li>
					<li class="nav-item dropdown"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
					<li class="nav-item dropdown"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Search collapse-->
    <form action="{% url 'search' %}" class="search" method='GET'>
        <div class="search-box collapse" id="searchBox">
            <div class="card bg-dark pt-2 pb-4 border-0 rounded-0">
                <div class="container">
                    <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search marketplace" name="keyword">
                    </div>
                </div>
            </div>
        </div>
    </form>

</header>