<main class="page-wrapper">

    <!-- Navbar 3 Level (Light)-->
    <header class="shadow-sm">

        <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
        <div class="navbar-sticky bg-light">
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/"><img src="https://cartzilla.createx.studio/img/logo-dark.png" width="142" alt="Cartzilla"></a>
                    <a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="/"><img src="https://cartzilla.createx.studio/img/logo-icon.png" width="74" alt="Cartzilla"></a>
                    <form action="{% url 'search' %}" class="search h-auto w-auto" method='GET'>
                        <div class="input-group d-none d-lg-flex mx-4">
                            <input class="form-control rounded-end pe-5" type="text" placeholder="Search for products" name="keyword">
                            <i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
                        </div>
                    </form>
                    <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-tool navbar-stuck-toggler" href="#">
                            <span class="navbar-tool-tooltip">Expand menu</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
                        </a>
                        {% if user.id is None %}
                        <div class="navbar-tool dropdown ms-2">
                            <a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'login' %}"><i class="navbar-tool-icon ci-user"></i></a>
                            <a class="navbar-tool-text ms-n1" href="{% url 'login' %}"><small>Welcome Guest!</small>My Account</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div style="min-width: 10rem; max-width: 14rem;">
                                    <h6 class="dropdown-header">Account</h6>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}"><i class="ci-sign-in opacity-60 me-2"></i>Sign In</a>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'register' %}"><i class="ci-add-user opacity-60 me-2"></i>Register</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="navbar-tool dropdown ms-2">
                            <a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'dashboard' %}"><img src="https://cartzilla.createx.studio/img/marketplace/account/avatar-sm.png" width="32" alt="{{user.first_name}}"></a>
                            <a class="navbar-tool-text ms-n1" href="{% url 'dashboard' %}"><small>Welcome {{user.first_name}}!</small>My Account</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div style="min-width: 10rem; max-width: 14rem;">
                                    <h6 class="dropdown-header">Account</h6><a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard' %}"><i class="ci-settings opacity-60 me-2"></i>Settings</a>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard' %}"><i class="ci-basket opacity-60 me-2"></i>Dashboard</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign Out</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="{% url 'cart' %}"><span class="navbar-tool-label">{{cart_count}}</span><i class="navbar-tool-icon ci-cart"></i></a>
                            <a class="navbar-tool-text" href="{% url 'cart' %}"><small>My Cart</small></a>
                            <!-- Cart dropdown-->
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                    <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                                        {% for cart_item in cart_items %}
                                        <div class="widget-cart-item pb-2 border-bottom">
                                            <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure you want to delete this item?')" class="btn-close text-danger" type="button"><span aria-hidden="true">&times;</span></a>
                                            <div class="d-flex align-items-center">
                                                <a class="flex-shrink-0" href="{{ cart_item.product.get_absolute_url }}"><img src="{{ cart_item.product.product_images.url }}" width="64" alt="Product"></a>
                                                <div class="ps-2">
                                                    <h6 class="widget-product-title"><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.product_name }}</a></h6>
                                                    {% if cart_item.variations.all %} {% for item in cart_item.variations.all %}
                                                    <div class="fs-sm"><span class="me-2">{{ item.variation_category | capfirst }} : </span>{{ item.variation_value | capfirst }}</div>
                                                    {% endfor %} {% endif %}
                                                    <div class="widget-product-meta"><span class="text-accent me-2">{{ cart_item.product.price }}<small> VND</small></span><span class="text-muted">x {{ cart_item.quantity }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                        <div class="fs-sm me-2 py-2">
                                            <span class="text-muted">Subtotal:</span>
                                            <span class="text-accent fs-base ms-1">{{total}}<small> VND</small></span>
                                        </div><a class="btn btn-outline-secondary btn-sm" href="{% url 'cart' %}">Expand cart<i class="ci-arrow-right ms-1 me-n1"></i></a>
                                    </div><a class="btn btn-primary btn-sm d-block w-100" href="{% url 'place_order' %}"><i class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <!-- Search-->
                        <form action="{% url 'search' %}" class="search" method='GET'>
                            <div class="input-group d-lg-none my-3">
                                <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                                <input class="form-control rounded-start" type="text" placeholder="Search for products" name="keyword">
                            </div>
                        </form>
                        <!-- Departments menu-->
                        <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-view-grid me-2"></i>Categorys</a>
                                <div class="dropdown-menu px-2 pb-4">
                                    <div class="d-flex flex-wrap flex-sm-nowrap">

                                        {% for category in links %}
                                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                                            <div class="widget widget-links">
                                                <a class="d-block overflow-hidden rounded-3 mb-3" href="{{ category.get_absolute_url }}"><img src="{{ category.category_image.url }}" alt="{{ category.category_name }}"></a>
                                                <a href="{{ category.get_absolute_url }}">
                                                    <h6 class="fs-base mb-2">{{ category.category_name }}</h6>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Primary menu-->
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'store' %}">Shop</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'blog' %}">Blog</a></li>
                            {% comment %} <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'store' %}">Chat</a></li> {% endcomment %}
                            {% comment %} <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'store' %}">About</a></li> {% endcomment %}
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

</main>