{% extends 'base.html' %} {% block title %}{{post.title}}{% endblock title %} {% block content %} {% load static %}
<main class="page-wrapper">
    <!-- Page Title (Light)-->
    <div class="bg-secondary py-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap"><a href="#">Blog</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Single post</li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 mb-0">{{ post.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row pt-5 mt-md-2">
            <section class="col-lg-8">
                <!-- Post meta-->
                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4 mt-n1">
                    <div class="d-flex align-items-center fs-sm mb-2">
                        <a class="blog-entry-meta-link" href="#">
                            <div class="blog-entry-author-ava"><img src="{{ post.featured_image.url }}" alt="{{ user.full_name }}"></div>{{ user.full_name }}</a>
                        <span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">{{ post.publish|date:"l, j F Y" }}</a></div>
                    <div class="fs-sm mb-2"><a class="blog-entry-meta-link text-nowrap" href="#comments" data-scroll><i class="ci-message"></i>3</a></div>
                </div>
                <!-- Gallery-->
                <div class="gallery row pb-2 justify-content-center">
                    <div class="col-sm-10">
                        <a class="gallery-item rounded-3 mb-grid-gutter" href="{{ post.featured_image.url }}" data-bs-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption #1&lt;/h6&gt;">
                            <img src="{{ post.featured_image.url }}" alt="Gallery image"><span class="gallery-item-caption">{{ post.title }}</span></a>
                    </div>
                </div>
                <!-- Post content-->
                {{ post.body|safe }}
                <!-- Post tags + sharing-->
                <div class="d-flex flex-wrap justify-content-between pt-2 pb-4 mb-1">
                    <div class="mt-3 me-3"><strong>Tags: &ensp;</strong> {% for tag in post.tags.all %}<a class="btn-tag me-2 mb-2" href="{% url 'post_tag' tag.slug %}"># {{tag.name}}</a>{% if not forloop.last %} {% endif %} {% endfor %}</div>

                    <div class="mt-3"><span class="d-inline-block align-middle text-muted fs-sm me-3 mt-1 mb-2">Share post:</span>
                        <a class="btn-social bs-facebook me-2 mb-2" href="https://www.facebook.com/sharer/sharer.php?u=https://{{domain}}{{ post.get_absolute_url }}" target="_blank"><i class="ci-facebook"></i></a>
                        <a class="btn-social bs-twitter me-2 mb-2" href="https://twitter.com/share?url=https://{{domain}}{{ post.get_absolute_url }}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank"><i class="ci-twitter"></i></a>
                        <a class="btn-social bs-instagram me-2 mb-2" href="https://www.instagram.com/?url=https://{{domain}}{{ post.get_absolute_url }}" target="_blank"><i class="ci-instagram"></i></a>
                    </div>
                </div>
                <!-- Post navigation-->
                <nav class="entry-navigation" aria-label="Post navigation">
                    {% if post.previous_post %}
                    <a class="entry-navigation-link" href="{{ post.previous_post.get_absolute_url }}" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex align-items-center&quot;&gt;&lt;img src=&quot;{{ post.previous_post.featured_image.url }}&quot; width=&quot;60&quot; class=&quot;rounded&quot; alt=&quot;Post thumb&quot;&gt;&lt;div class=&quot;ps-3&quot;&gt;&lt;h6 class=&quot;fs-sm fw-semibold mb-0&quot;&gt;{{ post.previous_post.title }}&lt;/h6&gt;&lt;/div&gt;&lt;/div&gt;"><i class="ci-arrow-left me-2"></i><span class="d-none d-sm-inline">Prev post</span></a>
                    {% endif %}
                    <a class="entry-navigation-link" href="{% url 'blog' %}"><i class="ci-view-list me-2"></i><span class="d-none d-sm-inline">All posts</span></a>
                    {% if post.next_post %}
                    <a class="entry-navigation-link" href="{{ post.next_post.get_absolute_url }}" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-html="true" data-bs-content="&lt;div class=&quot;d-flex align-items-center&quot;&gt;&lt;img src=&quot;{{ post.next_post.featured_image.url }}&quot; width=&quot;60&quot; class=&quot;rounded&quot; alt=&quot;Post thumb&quot;&gt;&lt;div class=&quot;ps-3&quot;&gt;&lt;h6 class=&quot;fs-sm fw-semibold mb-0&quot;&gt;{{ post.next_post.title }}&lt;/h6&gt;&lt;/div&gt;&lt;/div&gt;"><span class="d-none d-sm-inline">Next post</span><i class="ci-arrow-right ms-2"></i></a>
                    {% endif %}
                </nav>
                <!-- Comments-->
                <div class="pt-2 mt-5" id="comments">
                    <h2 class="h4">Comments<span class="badge bg-secondary fs-sm text-body align-middle ms-2">3</span></h2>
                    <!-- comment-->
                    <div class="d-flex align-items-start py-4 border-bottom"><img class="rounded-circle" src="https://cartzilla.createx.studio/img/testimonials/04.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h6 class="fs-md mb-0">Laura Willson</h6><a class="nav-link-style fs-sm fw-medium" href="#"><i class="ci-reply me-2"></i>Reply</a>
                            </div>
                            <p class="fs-md mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                                cupidatat non proident, sunt in culpa qui.</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>Sep 7, 2019</span>
                            <!-- comment reply-->
                            <div class="d-flex align-items-start border-top pt-4 mt-4"><img class="rounded-circle" src="https://cartzilla.createx.studio/img/testimonials/03.jpg" width="50" alt="Michael Davis">
                                <div class="ps-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="fs-md mb-0">Michael Davis</h6>
                                    </div>
                                    <p class="fs-md mb-1">Egestas sed sed risus pretium quam vulputate dignissim. A diam sollicitudin tempor id eu nisl. Ut porttitor leo a diam. Bibendum at varius vel pharetra vel turpis nunc.</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>Sep 13, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- comment-->
                    <div class="d-flex align-items-start py-4"><img class="rounded-circle" src="https://cartzilla.createx.studio/img/testimonials/02.jpg" width="50" alt="Benjamin Miller">
                        <div class="ps-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h6 class="fs-md mb-0">Benjamin Miller</h6><a class="nav-link-style fs-sm fw-medium" href="#"><i class="ci-reply me-2"></i>Reply</a>
                            </div>
                            <p class="fs-md mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                                cupidatat non proident, sunt in culpa qui.</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>Aug 15, 2019</span>
                        </div>
                    </div>
                    <!-- Post comment form-->
                    <div class="card border-0 shadow mt-2 mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-start"><img class="rounded-circle" src="https://cartzilla.createx.studio/img/testimonials/01.jpg" width="50" alt="Mary Alice">
                                <form class="w-100 needs-validation ms-3" novalidate>
                                    <div class="mb-3">
                                        <textarea class="form-control" rows="4" placeholder="Write comment..." required></textarea>
                                        <div class="invalid-feedback">Please write your comment.</div>
                                    </div>
                                    <button class="btn btn-primary btn-sm" type="submit">Post comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% include "includes/sidebar_blog.html" %}
        </div>
    </div>
    <!-- Related posts-->
    <div class="bg-secondary py-5">
        <div class="container py-3">
            <h2 class="h4 text-center pb-4">You may also like</h2>
            <div class="tns-carousel">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
                    {% for post in similar_posts %}
                    <!-- article-->
                    <article>
                        <a class="blog-entry-thumb mb-3" href="{{ post.get_absolute_url }}"><img src="{{ post.featured_image.url }}" alt="Post"></a>
                        <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#">by {{ post.author }}</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">Sep 16</a></div>
                        <h3 class="h6 blog-entry-title"><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                    </article>
                    {% empty %}
                    <p class="text-muted">Hiện không có bài viết tương tự</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Toolbar for handheld devices (Blog)-->
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#blog-sidebar"><span class="handheld-toolbar-icon"><i class="ci-sign-in"></i></span><span class="handheld-toolbar-label">Sidebar</span></a><a class="d-table-cell handheld-toolbar-item"
            href="#"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a>
        <a class="d-table-cell handheld-toolbar-item" href="#"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a>
    </div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>



{% endblock %}