{% extends "base.html" %} {% block content %}
{% load static %}

<main class="page-wrapper">


	<!-- Used for marketplace templates with filters on top-->
	<div class="bg-accent pt-4 pb-5">
		<div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
			<div class="d-lg-flex justify-content-between pb-3">
				<div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
							<li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>Home</a></li>
						</ol>
					</nav>
				</div>
				<div class="order-lg-1 pe-lg-4 text-center text-lg-start">
					<h1 class="h3 text-light mb-0">Home</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container pb-5 mb-2 mb-md-4">
		<!-- Toolbar-->
		<div class="bg-light shadow-lg rounded-3 mt-n5 mb-4">
			<div class="d-flex align-items-center ps-2">
				<!-- Search-->
				<div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y fs-md ms-3"></i>
					<input class="form-control border-0 shadow-none" type="text" placeholder="Search in this category...">
				</div>
				<!-- Sort-->
				<div class="d-flex align-items-center">
					<div class="dropdown py-4 border-start"><a class="nav-link-style fs-md fw-medium dropdown-toggle p-4" href="#" data-bs-toggle="dropdown"><span class="d-inline-block py-1"><i class="ci-thumb-up align-middle opacity-60 mt-n1 me-2"></i>Popular</span></a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="#"><i class="ci-flag me-2 opacity-60"></i>Newest</a></li>
							<li><a class="dropdown-item" href="#"><i class="ci-rocket me-2 opacity-60"></i>Bestsellers</a></li>
							<li><a class="dropdown-item" href="#"><i class="ci-loading me-2 opacity-60"></i>Updated</a></li>
							<li><a class="dropdown-item" href="#"><i class="ci-arrow-down me-2 opacity-60"></i>Low Price</a></li>
							<li><a class="dropdown-item" href="#"><i class="ci-arrow-up me-2 opacity-60"></i>High Price</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Category grid-->
		<h2 class="h3 pb-2 mb-grid-gutter text-center">Marketplace category</h2>

		<!-- Marketplace category -->
		<section class="pb-5 mb-2 mb-xl-4">
			<div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled">
				<div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
				{% for category in links %}
				<!-- Category-->
				<div>
					<div class="card product-card card-static pb-3">
					<a class="card-img-top d-block overflow-hidden" href="{{ category.get_absolute_url }}"><img src="{{ category.category_image.url }}" alt="Category"></a>
					<div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">0 Product</a>
						<h3 class="product-title fs-sm"><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></h3>
					</div>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
		</section>

	</div>

	<!-- Fade transition + Layer animations -->
	<div class="tns-carousel container">
		<div class="tns-carousel-inner" data-carousel-options='{"mode": "gallery", "nav": false}'>
			<div>
				<div class="bg-faded-primary text-center py-5 px-3">
					<h3 class="from-top">From top to bottom</h3>
					<p class="fs-lg mb-4 pb-3 from-bottom delay-1">From bottom to top</p>
					<button class="btn btn-primary scale-down delay-2" type="button">Scale down</button>
				</div>
			</div>
			<div>
				<div class="bg-faded-success text-center py-5 px-3">
					<h3 class="from-start">From left to right</h3>
					<p class="fs-lg mb-4 pb-3 from-end">From right to left</p>
					<button class="btn btn-success scale-up delay-2" type="button">Scale up</button>
				</div>
			</div>
		</div>
	</div>

  	<br class="my-3">

	<div class="container pb-5 mb-2 mb-md-4">
		
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-end">See all</a>
			<h3 class="section-title">Popular products</h3>
		</header><!-- sect-heading -->

		<!-- Products grid-->
		<div class="row pt-3 mx-n2">

			{% for product in products %}
			<!-- Product-->
			<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
				<div class="card product-card-alt">
				<div class="product-thumb">
					<div class="product-card-actions"><a class="btn btn-light btn-icon btn-shadow fs-base mx-2" href="{{ product.get_absolute_url }}"><i class="ci-eye"></i></a></div>
					<a class="product-thumb-overlay" href="{{ product.get_absolute_url }}"></a><img src="{{ product.product_images.url }}" alt="Product">
				</div>
				<div class="card-body">
					<div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
					<div class="text-muted fs-xs me-1">by <a class="product-meta fw-medium" href="#">Createx Std. </a>in <a class="product-meta fw-medium" href="#">Graphics</a></div>
						<div class="star-rating">
							<i class="star-rating-icon ci-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half {% endif %} active"></i>
							<i class="star-rating-icon ci-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half {% endif %} active"></i>
							<i class="star-rating-icon ci-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half {% endif %} active"></i>
							<i class="star-rating-icon ci-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half {% endif %} active"></i>
							<i class="star-rating-icon ci-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half {% endif %} active"></i>
						</div>

					</div>
					<div class="bg-faded-accent text-accent rounded-1 py-1 px-2 float-end">$ {{ product.price }}</div>
					<h3 class="product-title fs-sm mb-2"><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></h3>
				</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>

</main>

{% endblock content %}