{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>

/* Hide Radio button */
.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}

/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #a78b4c;
}

.rating-star i{
  color: #ffb503 !important;
}

ul.thumb{
  margin:0 auto;
  padding: 0;
  float: left;
}
ul.thumb li{
  list-style: none;
  margin: 10px;
}
ul.thumb li img{
  width: 80px;
  height: 80px;
  border: 1px solid grey;
}

</style>

<main class="page-wrapper">

    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a></li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0">{{ single_product.product_name }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Gallery + details-->
        <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
            <div class="px-lg-3">
                <div class="row">
                    <!-- Product gallery-->
                    <div class="col-lg-7 pe-lg-0 pt-lg-4">
                        <div class="product-gallery">
                            <div class="product-gallery-preview order-sm-2">
                                <div class="mainImage">
                                    <img src="{{ single_product.product_images.url }}" alt="Product image">
                                </div>
                            </div>
                            <div class="thumb product-gallery-thumblist order-sm-1">
                                <a class="product-gallery-thumblist-item active" href="{{ single_product.product_images.url }}" target="mainImage"><img src="{{ single_product.product_images.url }}" alt="Product thumb"></a>
                                {% for i in product_gallery %}
                                    <a class="product-gallery-thumblist-item active" href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product thumb"></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Product details-->

                    <div class="col-lg-5 pt-4 pt-lg-0">
                        <div class="product-details ms-auto pb-3">
                            <form action="{% url 'add_cart' single_product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <a href="#reviews" data-scroll>

                                    <div class="star-rating text-blue">
                                            <span>
                                                <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                                            </span>
                                            <span>{{single_product.countReview}}  Reviews</span>
                                    </div>
                                </a>
                                <button class="btn-wishlist me-0 me-lg-n3" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i class="ci-heart"></i></button>
                            </div>

                            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                                <h1 class="h3 text-dark mb-0">{{ single_product.product_name }}</h1>
                            </div>

                            <div class="mb-3"><span class="h3 fw-normal text-accent me-1">{{ single_product.price }}<small> VND</small></span>
                                <span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                            </div>

                            <div class="position-relative me-n4 mb-3">

                            {% if single_product.stock <= 0 %}
            
                             <div style="background-color:red;" class="product-badge product-available mt-n1"><i class="ci-security-close"></i>Out of stock</div>
                             {% else %}

                                <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                                {% endif %}
                            </div>
                                <div class="mb-3">

                                    <div class="d-flex justify-content-between align-items-center pb-1">
                                        <label class="form-label" for="product-color">Color:</label>
                                    </div>
                                    <select name="color" class="form-select" required id="product-color">
                                        <option value="" disabled selected>Select color</option>
										{% for i in single_product.variation_set.colors %}
										<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
										{% endfor %}
                                    </select>

                                    <div class="d-flex justify-content-between align-items-center pb-1">
                                        <label class="form-label" for="product-size">Size:</label>
                                    </div>
                                    <select name="size" class="form-select" required id="product-size">
                                        <option value="" disabled selected>Select size</option>
										{% for i in single_product.variation_set.sizes %}
										<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
										{% endfor %}
                                    </select>
                                </div>


                                <div class="mb-3 d-flex align-items-center">

                                    {% if single_product.stock <= 0 %}
                                        <h4 class="btn-shadow d-block w-100">Out of stock </h4>
                                    {% else %}
							            <button type="submit" class="btn btn-primary btn-shadow d-block w-100"><i class="fas fa-shopping-cart fs-lg me-2"> </i> <span class="text"> Add to Cart</span></button>
                                    {% endif %}

                                </div>
                            <!-- Product panels-->
                            <div class="accordion mb-4" id="productPanels">
                                <div class="accordion-item">
                                    <h3 class="accordion-header"><a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</a></h3>
                                    <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                                        <div class="accordion-body">
                                            <p>{{ single_product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Sharing-->
                            <label class="form-label d-inline-block align-middle my-2 me-3">Share:</label>
                                <a class="btn-share btn-twitter me-2 my-2" href="http://{{domain}}"><i class="ci-twitter"></i>Twitter</a>
                                <a class="btn-share btn-instagram me-2 my-2" href="http://{{domain}}"><i class="ci-instagram"></i>Instagram</a>
                                <a class="btn-share btn-facebook my-2" href="http://{{domain}}"><i class="ci-facebook"></i>Facebook</a>
                        </form>
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- Reviews-->
    <div class="border-top border-bottom my-lg-3 py-5">
        <div class="container pt-md-2" id="reviews">
            <div class="row pb-3">
                <div class="col-lg-4 col-md-5">
                    <h2 class="h3 mb-4"><span>{{single_product.countReview}} Reviews</span></h2>
                    <div class="star-rating me-2">
                        <i class="text-accent me-1 fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-alt {% endif %}" aria-hidden="true"></i>
                        <i class="text-accent me-1 fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-alt {% endif %}" aria-hidden="true"></i>
                        <i class="text-accent me-1 fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-alt {% endif %}" aria-hidden="true"></i>
                        <i class="text-accent me-1 fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-alt {% endif %}" aria-hidden="true"></i>
                        <i class="text-accent me-1 fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-alt {% endif %}" aria-hidden="true"></i>
                    </div>
                    <span class="d-inline-block align-middle">{{single_product.countReview}} Overall rating</span>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="d-flex align-items-center mb-2">
                        <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">5</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                        <div class="w-100">
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><span class="text-muted ms-3">43</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">4</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                        <div class="w-100">
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><span class="text-muted ms-3">16</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">3</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                        <div class="w-100">
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><span class="text-muted ms-3">9</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">2</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                        <div class="w-100">
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><span class="text-muted ms-3">4</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">1</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                        <div class="w-100">
                            <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><span class="text-muted ms-3">2</span>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-3">
            <div class="row pt-4">
                <!-- Reviews list-->
                <div class="col-md-7">
                    <!-- Review-->
                    {% for review in reviews %}
                    <div class="product-review pb-4 mb-4 border-bottom">
                        <div class="d-flex mb-3">
                            <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="https://cartzilla.createx.studio/img/shop/reviews/01.jpg" width="50" alt="Rafael Marquez">
                                <div class="ps-3">
                                    <h6 class="fs-sm mb-0">{{review.user.full_name}}</h6><span class="fs-ms text-muted">{{review.updated_at}}</span>
                                </div>
                            </div>
                            <div>
                                <div class="star-rating">
                                    <i class="star-rating-icon active fa fa-star{% if review.rating == 0.5 %}-half-alt{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="star-rating-icon active fa fa-star{% if review.rating == 1.5 %}-half-alt{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="star-rating-icon active fa fa-star{% if review.rating == 2.5 %}-half-alt{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="star-rating-icon active fa fa-star{% if review.rating == 3.5 %}-half-alt{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="star-rating-icon active fa fa-star{% if review.rating == 4.5 %}-half-alt{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                </div>
                                <div class="fs-ms text-muted"><h6 class="fs-md mb-2">{{review.subject}}</h6></div>
                            </div>
                        </div>
                        <p class="fs-md mb-2">{{review.review}}</p>

                        <div class="text-nowrap">
                            <button class="btn-like" type="button">15</button>
                            <button class="btn-dislike" type="button">3</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Leave review form-->
                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                    <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                        <h3 class="h4 pb-2">Write a review</h3>
                        <form class="needs-validation" action="{% url 'submit_review' single_product.id %}" method="POST" novalidate>
                        {% csrf_token %}
                            <!-- Rating stars -->
                            <div class="mb-3">
                                <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
                                <div class="rate">
                                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                                </div>
                                <div class="invalid-feedback">Please choose rating!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="review-name">Review Title:<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" required id="review-name" name="subject">
                                <div class="invalid-feedback">Please enter your review title!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="6" required id="review-text" name="review"></textarea>
                                <div class="invalid-feedback">Please write a review!</div>
                            </div>
                            {% if user.is_authenticated %}
                                {% if orderproduct %}
                                    <input type="submit" value="Submit Review" class="btn btn-primary btn-shadow d-block w-100">
                                {% else %}
                                    <p>You must purchase this product to post a review.</p>
                                {% endif %}
                            {% else %}
                            <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
                            {% endif %}
                            {% include 'includes/alerts.html' %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Product carousel (You may also like)-->
    <div class="container py-5 my-md-3">
        <h2 class="h3 text-center pb-4">You may also like</h2>
        <div class="tns-carousel tns-controls-static tns-controls-outside">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">

                <!-- Product-->
                {% for product in products %}
                <div>
                    <div class="card product-card card-static">
                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button>
                        <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}"><img src="{{ product.product_images.url }}" alt="Product"></a>
                        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ product.category }}</a>
                            <h3 class="product-title fs-sm"><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></h3>
                            <div class="d-flex justify-content-between">
                                <div class="product-price text-accent">{{ product.price }}<small> VND</small></div>
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

{% endblock content %}