{% extends "base.html" %} {% block content %}


<main class="page-wrapper">
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'home' %}"><i class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap"><a href="#">Store</a></li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                {% if 'search' in request.path %}
                <h1 class="h3 text-light mb-0">Search Result</h1>
                {% else %}
                <h1 class="h3 text-light mb-0">Our Store</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4">
                <!-- Sidebar-->
                <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem;">
                    <div class="offcanvas-header align-items-center shadow-sm">
                        <h2 class="h5 mb-0">Filters</h2>
                        <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                        <!-- Categories-->
                        <div class="widget widget-categories mb-4 pb-4 border-bottom">
                            <h3 class="widget-title">Categories</h3>

                            <div class="widget widget-links widget-filter">
                                <div class="input-group input-group-sm mb-2">
                                    <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search">
                                    <i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                </div>
                                
                                <ul class="widget-list widget-filter-list pt-1" style="height: 12rem;" data-simplebar="init" data-simplebar-auto-hide="false">
                                    <div class="simplebar-wrapper" style="margin: -4px -16px 0px 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 4px 16px 0px 0px;">
                                                        <li class="widget-list-item widget-filter-item">
                                                            <a class="widget-list-link d-flex" style="font-size: 17px;" href="{% url 'store' %}">-&nbsp;<span class="widget-filter-item-text">All Product</span></a>
                                                        </li>
                                                        {% for category in links %}
                                                        <li class="widget-list-item widget-filter-item">
                                                            <a class="widget-list-link d-flex" style="font-size: 17px;" href="{{ category.get_absolute_url }}">-&nbsp;<span class="widget-filter-item-text">{{ category.category_name }}</span></a>
                                                        </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: auto; height: 376px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar simplebar-visible" style="height: 98px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                </ul>
                            </div>

                        </div>

                        <!-- Price range-->
                        <div class="widget mb-4 pb-4 border-bottom">
                            <h3 class="widget-title">Price <small>(Chức năng đang phát triển)</small></h3>
                            <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                                <div class="range-slider-ui"></div>
                                <div class="d-flex pb-1">
                                    <div class="w-50 pe-2 me-2">
                                        <div class="input-group input-group-sm"><span class="input-group-text">$</span>
                                            <input class="form-control range-slider-value-min" type="text">
                                        </div>
                                    </div>
                                    <div class="w-50 ps-2">
                                        <div class="input-group input-group-sm"><span class="input-group-text">$</span>
                                            <input class="form-control range-slider-value-max" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Filter by Size-->
                        <div class="widget widget-filter mb-4 pb-4 border-bottom">
                            <h3 class="widget-title">Size <small>(Chức năng đang phát triển)</small></h3>
                            <div class="input-group input-group-sm mb-2">
                                <input class="widget-filter-search form-control rounded-end pe-5" type="text" placeholder="Search"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                            </div>
                            <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem;" data-simplebar data-simplebar-auto-hide="false">
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-xs">
                                        <label class="form-check-label widget-filter-item-text" for="size-xs">XS</label>
                                    </div><span class="fs-xs text-muted">34</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-s">
                                        <label class="form-check-label widget-filter-item-text" for="size-s">S</label>
                                    </div><span class="fs-xs text-muted">57</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-m">
                                        <label class="form-check-label widget-filter-item-text" for="size-m">M</label>
                                    </div><span class="fs-xs text-muted">198</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-l">
                                        <label class="form-check-label widget-filter-item-text" for="size-l">L</label>
                                    </div><span class="fs-xs text-muted">72</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-xl">
                                        <label class="form-check-label widget-filter-item-text" for="size-xl">XL</label>
                                    </div><span class="fs-xs text-muted">46</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-39">
                                        <label class="form-check-label widget-filter-item-text" for="size-39">39</label>
                                    </div><span class="fs-xs text-muted">112</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-40">
                                        <label class="form-check-label widget-filter-item-text" for="size-40">40</label>
                                    </div><span class="fs-xs text-muted">85</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-41">
                                        <label class="form-check-label widget-filter-item-text" for="size-40">41</label>
                                    </div><span class="fs-xs text-muted">210</span>
                                </li>
                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="size-42">
                                        <label class="form-check-label widget-filter-item-text" for="size-42">42</label>
                                    </div><span class="fs-xs text-muted">57</span>
                                </li>
                            </ul>
                        </div>
                        <!-- Filter by Color-->
                        <div class="widget">
                            <h3 class="widget-title">Color <small>(Chức năng đang phát triển)</small></h3>
                            <div class="d-flex flex-wrap">
                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">
                                    <input class="form-check-input" type="checkbox" id="color-blue-gray">
                                    <label class="form-option-label rounded-circle" for="color-blue-gray"><span class="form-option-color rounded-circle" style="background-color: #b3c8db;"></span></label>
                                    <label class="d-block fs-xs text-muted mt-n1" for="color-blue-gray">Blue-gray</label>
                                </div>
                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">
                                    <input class="form-check-input" type="checkbox" id="color-burgundy">
                                    <label class="form-option-label rounded-circle" for="color-burgundy"><span class="form-option-color rounded-circle" style="background-color: #ca7295;"></span></label>
                                    <label class="d-block fs-xs text-muted mt-n1" for="color-burgundy">Burgundy</label>
                                </div>
                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">
                                    <input class="form-check-input" type="checkbox" id="color-coral-red">
                                    <label class="form-option-label rounded-circle" for="color-coral-red"><span class="form-option-color rounded-circle" style="background-color: #ff7072;"></span></label>
                                    <label class="d-block fs-xs text-muted mt-n1" for="color-coral-red">Coral red</label>
                                </div>
                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">
                                    <input class="form-check-input" type="checkbox" id="color-navy">
                                    <label class="form-option-label rounded-circle" for="color-navy"><span class="form-option-color rounded-circle" style="background-color: #696dc8;"></span></label>
                                    <label class="d-block fs-xs text-muted mt-n1" for="color-navy">Navy</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- Content  -->
            <section class="col-lg-8">
                <!-- Toolbar-->
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">Sort by:</label>
                            <select class="form-select" id="sorting">
                                <option>A - Z Order</option>
                                <option>Z - A Order</option>
                                <option>Low - Hight Price</option>
                                <option>High - Low Price</option>
                            </select>
                            <span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">of <b>{{ product_count }}</b> products</span>
                        </div>
                    </div>
                </div>

                <!-- Banner-->
                <div class="py-sm-2">
                    <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden mb-4 rounded-3">
                        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                            <h4 class="fs-lg fw-light mb-2">Converse All Star</h4>
                            <h3 class="mb-4">Make Your Day Comfortable</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
                        </div><img class="d-block ms-auto" src="https://cartzilla.createx.studio/img/shop/catalog/banner.jpg" alt="Shop Converse">
                    </div>
                </div>

                <!-- Products grid-->
                <div class="row mx-n2">
                    {% for product in products %}
                    <!-- Product-->
                    <div class="col-md-4 col-sm-6 px-2 mb-4">
                        <div class="card product-card"><span class="badge bg-danger badge-shadow">Sale</span>
                            <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button>
                            <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}"><img src="{{ product.product_images.url }}" alt="Product"></a>
                            <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ product.category }}</a>
                                <h3 class="product-title fs-sm"><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></h3>
                                <div class="d-flex justify-content-between">
                                    <div class="product-price"><span class="text-accent">{{ product.price }}<small> VND</small></span></div>

                                    <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i>
                                        <i class="star-rating-icon ci-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="d-sm-none">
                    </div>
                    {% endfor %}
                </div>

                <hr class="my-3">
                <!-- Pagination-->
                <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
                    {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link text-drack" href="?page={{products.previous_page_number}}"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        {% endif %}
                    </ul>
                    <ul class="pagination">
                        {% for i in products.paginator.page_range %} {% if products.number == i %}
                        <li class="page-item active d-none d-sm-block"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %} {% endfor %}
                    </ul>
                    <ul class="pagination">
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
            </section>
        </div>
    </div>
</main>

{% endblock content %}